body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.stopwatch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #b1b13e;
  text-align: center;
}

#display {
  font-size: 2em;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
}

ol {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
